
body {
  background: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.vista {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.usuarios {
  align-self: center;
  width: 9.5%;
}
  .usuarios__usuario {
    display: flex;
    justify-content: center;
    margin: 1em;
  }

  .usuarios__imagen {
    border-radius: 50%;
    width: 60%;
  }


.calendario {
  display: flex;
  flex-direction: row;
  width: 89.5%;
}
  .calendario__dia {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  .calendario__label {
    border-bottom: 5px solid #2980b9;
    font-size: 1.1em;
    padding: 0.5em 0em;
    text-align: center;
  }
  .calendario__bloque {
    border: 0.1px solid #bdc3c7;
    border-top: none;
    height: 95px;
    width: 100%;
  }
